// for mobile from 320 to 768px
@media (max-width: 767px)
  .header
    display: flex
    box-sizing: border-box
    min-width: 320px
    min-height: 50vh
    background: url("../img/header_bg_small.jpg") no-repeat bottom right
    background-size: cover
    padding: 21px
    &__nav
      height: 30px
      display: flex
      justify-content: space-between

    .fa-bars
      display: block
      color: white
      font-size: 30px