*
  margin: 0
body
  font-family: myriad-pro, sans-serif
a
  text-decoration: none

@import "vars"

// отключаем маркер в Firefox у details - summary
@-moz-document url-prefix()
  summary
    display: block

summary::-webkit-details-marker
  display: none

details:focus, details[open]:focus, summary:focus
  outline: none

details[open].faq__details > summary::after
  font-family: FontAwesome, serif
  content: '\f077'
  margin-left: 8px
  width: 10px
  color: $siteColor1
details.faq__details > summary::after
  font-family: FontAwesome, serif
  content: '\f078'
  margin-left: 8px
  width: 10px
  color: $siteColor1

.h2
  font-weight: bold
  font-size: 28px
  line-height: 34px
  padding: 5px
.h3
  font-weight: 600
  font-size: 18px
  line-height: 22px
  padding: 5px

.white-txt
  color: white

.logo-img
  //&_top
  //  padding: 27px 21px
  &_footer
    padding: 20px 0
    height: 37px

.button
  width: 360px
  height: 48px
  border-radius: 30px
  @include flexbox
  text-transform: uppercase
  font-size: 16px
  line-height: 19px
  font-weight: bold
  &:focus,
  &:hover
    outline: none
    box-shadow: 0 4px 15px rgba(27, 170, 235, 0.45)
  &_blue
    background-color: $siteColor1
    color: #fff
    &:active
      background: #94D1EC
  &_yellow
    background-color: $siteColor3
    color: #000
    &:active
      background: #FCE39C

.slogan
  @include flexbox

// for mobile from 320 to 768px

.button
  width: 278px
.center
  padding: 0 calc(50vw - 140px)
.header
  display: flex
  align-items: flex-start
  box-sizing: border-box
  min-width: 320px
  min-height: 277px
  background: url("../img/header_bg_small.jpg") no-repeat bottom right
  background-size: cover
  padding-top: 27px
  &__switch
    visibility: hidden
    position: absolute
    left: -999999px
    &:checked + .nav
      right: 0
    //box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8)

.fa-bars
  display: block
  color: white
  font-size: 30px
  &__footer
    font-size: 33px
    color: black



.slogan
  padding-top: 27px
  padding-bottom: 27px
  flex-direction: column
  justify-content: space-around
  align-items: center
  &__middle
    background: #F7F7F7
    padding-top: 20px
    padding-bottom: 20px
  &__H2
    font-style: normal
    font-weight: 900
    font-size: 29px
    line-height: 38px
    text-transform: uppercase
  &__H3
    font-weight: bold
    font-size: 24px
    line-height: 29px
    padding-bottom: 15px
  &__p
    width: 280px
    font-size: 20px
    line-height: 29px
    font-weight: bold
    text-transform: uppercase
    margin: 17px 0

.about
  position: relative
  background-color: #f7f7f7
  display: flex
  justify-content: space-around
  align-items: center
  flex-direction: column
  padding-top: 21px
  padding-bottom: 21px
  min-width: 278px
  &__content
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
  &__img
    width: 278px
    margin-bottom: 25px
  &__h3
    font-size: 18px
    line-height: 22px
    font-weight: bold
    margin: 15px 0 10px
  &__p
    font-size: 14px
    line-height: 16px
    text-align: justify
    padding-bottom: 17px

.steps
  padding-top: 27px
  padding-bottom: 27px
  &__img
    width: 100%
  &__item
    margin-bottom: 20px
  &__h2
    padding: 6px 0
    font-size: 26px
    line-height: 31px
    font-weight: bold
    text-align: left
  &__p
    font-size: 14px
    line-height: 17px
    padding: 6px 0
    text-align: left

.callback
  background-color: $siteColor1
  min-width: 278px

  &__form
    padding-top: 15px
    min-height: 250px
    color: #fff
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    &_black-mh180
      padding-top: 0
      color: #000
      min-height: 180px
  &__h2
    font-size: 28px
    line-height: 34px
    font-weight: bold
    text-align: left
    text-transform: uppercase
  &__p
    font-size: 14px
    line-height: 13px
    text-align: left
  &__tel
    padding: 17px 24px
    width: 230px
    border-radius: 30px
    border: none
    &__footer
      padding: 12px 24px
      background-color: inherit
      border: 1px solid #000

.personal-data
  display: none
  &:checked + &__label::before
    font-family: FontAwesome, serif
    content: '\f14a'
    width: 10px
    height: 10px
    margin-right: 8px
  &__label
    font-size: 10px
    line-height: 12px
    text-align: left
    &__footer
      color: #9e9e9e
    &::before
      font-family: FontAwesome, serif
      content: '\f0c8'
      width: 10px
      height: 10px
      margin-right: 8px

.review
  @include padding_20_0
  position: relative
  min-width: 278px
  &__box
    padding: 12px 20px 0 20px
    position: relative
  &__slide
    position: absolute
    color: #c4c4c4
    font-size: 12px
    top: 0
    z-index: 10
    height: 100%
    display: flex
    align-items: center
    &_left
      left: 0
    &_right
      right: 0
  &__photo
    width: 100px
    height: 100px
    padding-right: 18px
    float: left
  &__name
    padding-bottom: 6px
    font-size: 26px
    line-height: 31px
  &__surname
    padding-bottom: 10px
    font-size: 18px
    line-height: 22px
  &__desc
    padding-bottom: 5px
    font-size: 10px
    line-height: 12px
  &__text
    font-size: 12px
    line-height: 14px
    text-align: justify
    clear: both

.advantages
  @include padding_20_0
  background-color: #f7f7f7
  min-width: 278px
  &__container
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding-top: 15px
  &__box
    @include padding_10_0
    display: flex
    flex-direction: column
    width: 86px
    padding-right: 5px
  &__img
    width: 43px

    &-cover
      width: 86px
      height: 86px
      border-radius: 43px
      background-color: #fff
      @include flexbox
  &__text
    font-size: 10px
    line-height: 12px
    text-align: center
    padding-top: 10px

.guaranty
  @include padding_20_0
  &__header
    display: flex
    padding-bottom: 14px
    align-items: center
  &__box
    position: relative
    padding: 0 20px
  &__icon
    width: 62px
    height: 62px
    border-radius: 31px
    background-color: #f7f7f7
    @include flexbox
    margin-right: 10px
  &__img
    width: 50%
    height: 50%

  &__ttl
    font-size: 16px
    line-height: 19px
    text-align: left
  &__text
    font-size: 12px
    line-height: 14px
    text-align: justify
    padding: 12px 0

.faq
  @include padding_20_0
  background-color: #D2ECF7
  &__qustions
    display: flex
    flex-direction: column
  &__answer
    background: #F7F7F7
    padding: 15px 25px
    font-weight: normal
    font-size: 16px
    line-height: 19px
    border-radius: 0 0 32px 32px
  &__details
    background-color: #fff
    font-size: 14px
    line-height: 17px
    text-align: left
    min-height: 20px
    min-width: 228px
    border-radius: 32px
    display: flex
    align-items: center
    margin: 10px 0
    cursor: pointer
  &__summary
    display: flex
    justify-content: space-between
    align-items: center
    font-weight: normal
    font-size: 16px
    line-height: 19px
    padding: 15px 25px
.partners
  min-height: 58px
  @include padding_20_0
  &__box
    @include flexbox
    flex-grow: 1
    flex-flow: row wrap
    position: relative

  &__link
    padding: 6px 10px

.footer
  @include padding_10_0
  background-color: #e9e9e9
  color: #000
  min-width: 278px
  @include flexbox
  flex-direction: column
  &__bottom
    display: flex
    justify-content: space-between
    align-items: center
    min-width: 280px
  &__hr
    color: #c4c4c4
    height: 1px
    width: 280px
  &__copyrights
    font-size: 10px
    line-height: 12px

.social-links
  display: flex

  &_nav
    justify-content: space-around
    align-items: center
    padding: 15px 0

  &__link
    @include flexbox
    width: 36px
    height: 36px
    background-color: $siteColor1
    color: #fff
    border-radius: 18px
    transition: all .5s
    &:hover
      box-shadow: 0 0 5px 5px $siteColor6

  &__footer-m320
    display: none

@import "menu"
@import "tablet768-1200"