$siteColor1: #008DCD
$siteColor2: #94D1EC
$siteColor3: #FFCC00
$siteColor4: #FCE39C
$siteColor5: #363636
$siteColor6: #B3B3B3
$siteColor7: #E1E1E1

@mixin flexbox
  display: flex
  justify-content: center
  align-items: center